In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv ('search.csv')
df.head()

,Planet_Name,SNR_Emission_15_micron,SNR_Emission_5_micron,SNR_Transmission_K_mag,Rp,Mp,Tday,Teq,log10g_p,Period,Transit_Duration,K_mag,Distance,Teff,log10g_s,Transit_Flag,Catalog_Name
0,55 Cnc e,0.343,0.124,0.314,0.19,0.026367,2326.0,1956.0,3.235,0.7365,1.6416,4.0,12.34,5196.0,4.450,True,exoplanets.org
1,KOI 2882.01,0.000,0.000,0.008,0.24,0.023332,365.0,307.0,2.992,75.8580,5.3820,13.0,NaN,4474.0,4.670,True,exoplanets.org
2,CoRoT-10 b,0.000,0.013,0.007,0.97,2.755360,796.0,669.0,3.858,13.2406,2.9800,11.8,344.95,5075.0,4.650,True,exoplanets.org
3,CoRoT-11 b,0.159,0.094,0.027,1.43,2.348130,2057.0,1730.0,3.458,2.9943,2.5008,11.2,558.97,6440.0,4.220,True,exoplanets.org
4,CoRoT-12 b,0.043,0.041,0.031,1.44,0.919180,1714.0,1441.0,3.046,2.8280,2.5742,13.6,1150.00,5675.0,4.375,True,exoplanets.org

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8345 entries, 0 to 8344
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Planet_Name             8345 non-null   object
 1   SNR_Emission_15_micron  8003 non-null   float64
 2   SNR_Emission_5_micron   8003 non-null   float64
 3   SNR_Transmission_K_mag  7976 non-null   float64
 4   Rp                      8330 non-null   float64
 5   Mp                      8345 non-null   float64
 6   Tday                    8215 non-null   float64
 7   Teq                     8239 non-null   float64
 8   log10g_p                8310 non-null   float64
 9   Period                  8345 non-null   float64
 10  Transit_Duration        8113 non-null   float64
 11  K_mag                   8314 non-null   float64
 12  Distance                5084 non-null   float64
 13  Teff                    8336 non-null   float64
 14  log10g_s                8290 non-null   float64
 15  Transit_Flag            8345 non-null   bool
 16  Catalog_Name            8345 non-null   object
dtypes: bool(1), float64(14), object(2)
memory usage: 1.0+ MB

In [8]:
df.shape

(8345, 17)

In [9]:
df.describe()

,SNR_Emission_15_micron,SNR_Emission_5_micron,SNR_Transmission_K_mag,Rp,Mp,Tday,Teq,log10g_p,Period,Transit_Duration,K_mag,Distance,Teff,log10g_s
count,8003.000000,8003.000000,7.976000e+03,8330.000000,8345.000000,8215.000000,8239.000000,8310.000000,8345.000000,8113.000000,8314.000000,5084.000000,8336.000000,8290.000000
mean,6.331129,8.154418,4.219505e+04,2.241462,0.390504,1120.930371,942.614880,3.068036,58.623189,4.325481,12.191797,674.245533,5524.323776,4.409666
std,515.485567,498.611289,3.471918e+06,111.706537,4.327358,590.429534,496.244423,0.333786,1426.928436,3.354116,1.519950,478.545115,716.856637,0.278708
min,0.000000,0.000000,0.000000e+00,0.020000,0.000018,33.000000,28.000000,-4.582000,0.179700,0.000000,2.300000,0.000000,2516.000000,0.114000
25%,0.000000,0.000000,3.000000e-03,0.130000,0.009820,694.000000,584.000000,2.988000,4.301200,2.329600,11.400000,320.000000,5191.000000,4.310000
50%,0.000000,0.000000,5.000000e-03,0.200000,0.017160,1021.000000,858.000000,3.042000,10.300700,3.416000,12.500000,610.330000,5653.000000,4.460000
75%,0.000000,0.001000,1.100000e-02,0.300000,0.038111,1426.000000,1199.000000,3.117000,28.574300,5.150900,13.300000,937.010000,5986.000000,4.560000
max,45951.663000,36937.412000,3.096179e+08,9729.790000,144.000000,8177.000000,6876.000000,6.090000,129995.778400,53.600000,15.600000,8500.000000,10894.000000,7.920000

In [11]:
df.count().isnull()

Planet_Name               False
SNR_Emission_15_micron    False
SNR_Emission_5_micron     False
SNR_Transmission_K_mag    False
Rp                        False
Mp                        False
Tday                      False
Teq                       False
log10g_p                  False
Period                    False
Transit_Duration          False
K_mag                     False
Distance                  False
Teff                      False
log10g_s                  False
Transit_Flag              False
Catalog_Name              False
dtype: bool

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize = (9,6))
df.P_HABITABLE.value_counts(normalize = True, ascending = False).plot(kind='bar', color= ['navy','orange','green'], alpha = 0.8, rot=0)
plt.title('Habitability Indicator No (0) / Conservatively Yes (1) / Optimistically Yes (2) in the Imbalanced Dataset')
plt.show()